  <div class="hero-unit">
    <h1>8q2y<span style="color:#C43C35">.</span><span style="color:#46A546">COM</span></h1>
    <p>拒绝拖延 和创意不期而遇</p>
    <p><a class="btn btn-primary btn-large" href="/users/sign_up/">马上开始 »</a></p>
  </div>

<div class="row">
    <div class="span4">
      <h2>今日计划</h2>
      <p>一日之计在于晨。每天起床后将今日要完成的工作列在“今日计划表”内，今日的目标就是将计划表内每一项都消灭掉！</p>
      <p><a class="btn" href="/help/todo">查看详情 »</a></p>
    </div>
    <div class="span4">
      <h2>数据统计</h2>
      <p>一段时间了，看看自己的计划完成情况。然后迅速调整，可以按月和星期查看。还支持导出分享呢。</p>
      <p><a class="btn" href="/help/activity">查看详情 »</a></p>
    </div>
    <div class="span4">
      <h2>附加工具</h2>
      <p>这里有一些分析、回顾、备份历史工作的工具。一周结束后可以很方便地查看周报；可以检索历史数据；可以导出并下载你的所有数据。</p>
      <p><a class="btn" href="/help/tools">查看详情 »</a></p>
    </div>
  </div>
